<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gestione Prenotazioni - Coworking</title>
  
  <!-- Tabler Core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0/dist/css/tabler.min.css" rel="stylesheet">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <!-- CSS personalizzato -->
  <link rel="stylesheet" href="/html/locatore/css/gestione_prenotazioni.css" />

</head>

<body>
<!-- Creo la navbar -->
{% include '/locatore/navbar/NavBarLocatore.html.twig' %}

    <!-- Main Content -->
    <div class="page-wrapper main-content">
      <!-- Header -->
      <div class="container-xl mt-5">
        <h1 class="mb-3">Gestione Prenotazioni</h1>
        <p class="text-muted mb-4">Visualizza e gestisci tutte le prenotazioni attive e passate del tuo spazio coworking.</p>


        <!-- Tabs -->
        <div class="tabs">
          <div class="tab active" data-tab="attive">Prenotazioni Attive</div>
          <div class="tab" data-tab="passate">Prenotazioni Passate</div>
        </div>


        <!-- Prenotazioni Attive -->
        <div id="attive" class="tab-content">
          {% for ufficio in ufficiPresente %}
          <div class="prenotazione">


            <img src="{{ ufficio.foto }}" alt="Ufficio 1" />
            <div class="prenotazione-info">
              <h5>{{ ufficio.ufficio.titolo }}</h5>
              <p><strong>Cliente:</strong> {{ ufficio.prenotazioni.utente.name  }} {{ ufficio.prenotazioni.utente.surname }}</p>
              <p><strong>Telefono:</strong> {{ ufficio.prenotazioni.utente.phone }}</p>
              <p><strong>Email:</strong> {{ ufficio.email}} </p>
            </div>
            <a href="#" class="btn-dettagli" data-bs-toggle="modal" data-bs-target="#modal-dettagliP"
               data-nome="{{ ufficio.prenotazioni.utente.name }}"
               data-cognome="{{ ufficio.prenotazioni.utente.surname }}"
               data-data="{{ ufficio.prenotazioni.data|date('d M Y') }}"
               data-telefono="{{ ufficio.prenotazioni.utente.phone }}"
               data-email="{{ ufficio.email }}"
               data-nome-ufficio="{{ ufficio.ufficio.titolo }}"
               data-descrizione="{{ ufficio.ufficio.descrizione }}"
               data-prezzo="{{ ufficio.ufficio.prezzo }} €"
               data-superficie="{{ ufficio.ufficio.superficie }} m²"
               data-fascia="{{ ufficio.intervallo.fascia.value }}"
               data-indirizzo="{{ ufficio.ufficio.indirizzo }}"
               data-postazioni="{{ ufficio.ufficio.numeroPostazioni }}"
               data-servizi="{{ ufficio.servizio }}">
              Dettagli
            </a>

          </div>
          {% endfor %}
        </div>


        <!-- Prenotazioni Passate -->
        <div id="passate" class="tab-content" style="display:none;">
          {% for ufficio in ufficiPassati %}
          <div class="prenotazione">
            <img src="{{ ufficio.foto}} " alt="Ufficio 3" />
            <div class="prenotazione-info">
              <h5>{{ ufficio.ufficio.titolo }}</h5>
              <p><strong>Cliente:</strong> {{ ufficio.prenotazioni.utente.name  }} {{ ufficio.prenotazioni.utente.surname }}</p>
              <p><strong>Telefono:</strong> {{ ufficio.prenotazioni.utente.phone }}</p>
              <p><strong>Email:</strong> {{ ufficio.email }}</p>
            </div>
            <a href="#" class="btn-dettagliP" data-bs-toggle="modal" data-bs-target="#modal-dettagliP"
               data-nome="{{ ufficio.prenotazioni.utente.name }}"
               data-cognome="{{ ufficio.prenotazioni.utente.surname }}"
               data-data="{{ ufficio.prenotazioni.data|date('d M Y') }}"
               data-telefono="{{ ufficio.prenotazioni.utente.phone }}"
               data-email="{{ ufficio.email }}"
               data-nome-ufficio="{{ ufficio.ufficio.titolo }}"
               data-descrizione="{{ ufficio.ufficio.descrizione }}"
               data-prezzo="{{ ufficio.ufficio.prezzo }} €"
               data-superficie="{{ ufficio.ufficio.superficie }} m²"
               data-fascia="{{ ufficio.intervallo.fascia.value }}"
               data-indirizzo="{{ ufficio.ufficio.indirizzo }}"
               data-postazioni="{{ ufficio.ufficio.numeroPostazioni }}"
               data-servizi="{{ ufficio.servizio }}">
              Dettagli
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


  <!-- creo il modal che viene chiamato dallo script js -->
{% include '/locatore/prenotazioni/modal_dettagli.html.twig' %}


<!-- Bootstrap Bundle JS (include anche Popper) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-X...Z" crossorigin="anonymous"></script>

  <!-- Tabler Core JS -->
  <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>


  <!-- Chiamo lo script per il modal e le tabs-->
  <script src="/html/locatore/js/gestione_prenotazioni.js"></script>

 
</body>
</html>
