<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Le Tue Prenotazioni</title>
    <!-- link to the bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--link to awesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- link to css for the style-->
    <link rel="stylesheet" href="/html/User/Prenotazioni/Prenotazioni.css" />
</head>
<body>
<!--include navbar-->

    {% include 'navbar/navbar.html.twig' %}



<main class="flex-grow-1">
    <div class="container py-5">
        <h2 class="text-center mb-4">Le tue prenotazioni</h2>

        <!-- Toggle -->
        <div class="d-flex justify-content-center gap-3 mb-5">
            <button class="btn btn-toggle active" id="btn-attive">Attive</button>
            <button class="btn btn-toggle" id="btn-passate">Passate</button>
        </div>

        <!-- reservation that is divided into activereservation and pastreservation -->
        <div id="lista-prenotazioni">

            {%for reservation in activereservations %}
            <!-- active reservation -->
            <div class="card card-custom mb-4 d-flex flex-row p-3 align-items-center prenotazione attiva">
                <img src="/static/img/{{ reservation.reservation.ufficio.foto[0].id }}" class="card-img me-3" alt="Ufficio">
                <div class="flex-grow-1">
                    <h5 class="mb-1 text-danger">{{ reservation.reservation.ufficio.titolo }}</h5>
                    <p class="mb-2">{{ reservation.reservation.ufficio.descrizione }}</p>
                    <button class="btn btn-outline-secondary" onclick="window.location.href='/reservations/{{ reservation.reservation.id }}/review'">Lascia una recensione</button>

                </div>
                <button class="btn-visualizza" onclick="window.location.href='/reservations/{{ reservation.reservation.id }}'">Visualizza</button>
            </div>
            {% endfor %}
            {%for reservation1 in pastreservations %}
            <!-- pastreservation -->
            <div class="card card-custom mb-4 d-flex flex-row p-3 align-items-center prenotazione passata d-none">
                <img src="{{ reservation1.reservation.ufficio.foto[0].id }}" class="card-img me-3" alt="Ufficio">
                <div class="flex-grow-1">
                    <h5 class="mb-1 text-danger">{{ reservation1.ufficio.titolo }}</h5>
                    <p class="mb-2">{{ reservation1.ufficio.descrizione }}</p>
                    <button class="btn btn-outline-secondary" onclick="window.location.href='/reservations/{{ reservation1.reservation.id }}/review'">Lascia una recensione</button>
                </div>
                <button class="btn-visualizza" onclick="window.location.href='/reservations/{{ reservation1.reservation.id }}'">Visualizza</button>
            </div>

            {% endfor %}
        </div>
    </div>
</main>
<!--include footer-->
{% include "Footer/footer.html.twig" %}


<script>
    <!-- script that allow to switch from active to past -->
    const btnAttive = document.getElementById("btn-attive");
    const btnPassate = document.getElementById("btn-passate");
    const prenotazioni = document.querySelectorAll(".prenotazione");

    btnAttive.addEventListener("click", () => {
        btnAttive.classList.add("active");
        btnPassate.classList.remove("active");
        prenotazioni.forEach(card => {
            card.classList.toggle("d-none", card.classList.contains("passata"));
        });
    });

    btnPassate.addEventListener("click", () => {
        btnPassate.classList.add("active");
        btnAttive.classList.remove("active");
        prenotazioni.forEach(card => {
            card.classList.toggle("d-none", card.classList.contains("attiva"));
        });
    });
</script>



</body>
</html>
